services:
  backend:
    build: ./backend
    container_name: haokan_monitor_backend
    volumes:
      - ./config:/app/config
      - ./data:/app/data
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: haokan_monitor_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

